@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap') ;

.login-container {
  align-items: center;
  background-color: black;
  background-image: url('src/images/background5-2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100dvw;
}

.login-container h1 {
  color: mintcream;
  font-family: Pacifico , cursive;
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 4rem;
  margin-top: 6rem;
  text-align: center;
  text-shadow: 1px 1px 3px black;
}

.welcome-message {
  color: mintcream;
  display: flex;
  flex-direction: column;
  font-family: Pacifico , cursive;
  font-size: 1.7rem;
  font-weight: 300;
  height: 300px;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  text-shadow: 1px 1px 3px black;
  width: 360px;
}

.login-box {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  left: 50%;
  padding: 20px;
  top: 50%;
  width: 360px;
}

.login-box > h2 {
  color: mintcream;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 1px 1px 3px black;
}

.login-input {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

.email-input, .password-input {
  border: 1px solid #007bff;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

.login-button {
  align-items: center;
  background-color: #41197f;
  border: none;
  border-radius: 5px;
  color: #fcdc36;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  justify-content: center;
  margin-top: 50px;
  padding: 10px;
  width: 100%;
}

.login-button:hover {
  background-color: #fcdc36;
  color: #41197f;
}

@media ( max-width : 800px ) {

  .login-container {
    background-size: cover;
  }
}
