.recommendations-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  margin-top: 10px;
  overflow-x: scroll;
  padding: 0;
  width: 100dvw;
}

.recommendation-card {
  border-radius: 10px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.555);
  color: black;
  cursor: pointer;
  height: auto;
  margin: 5px 5px 15px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  width: 170px;
}

.recommendation-card:hover {
  background-color: #a4a6a8;
  color: black;
  font-weight: 700;
}

.recipe-recomendation-img {
  height: 150px;
  width: 150px;
}

