footer {
  background-color: #41197f;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100dvw;
  padding: 1px;
  position: fixed;
  width: 100dvw;
}

.footer-buttons {
  border: 3px solid #41197f;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 25px;
  margin-right: 25px;
  padding: 10px;
}

.footer-buttons:hover {
  background-color: #fcdc36;
  border: 3px solid #fcdc36;
}
