.header-main-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: 100dvw;
  padding: 0;
}

/* header h1 {
  color: white;
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
} */

.header-container {
  align-items: center;
  background-color: #41197f;
  display: flex;
  justify-content: space-between;
  max-width: 100dvw;
  padding: 10px;
  width: 100dvw;
}

.header-name {
  color: #fcdc36;
  font-family: Pacifico , cursive;
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.header-buttons .header-button {
  border: 3px solid #41197f;
  border-radius: 50%;
  cursor: pointer;
  margin: 1px;
  padding: 10px;
}

.header-buttons .header-button:hover {
  background-color: #fcdc36;
  border: 3px solid #fcdc36;
}

.page-title {
  align-items: center;
  background-color: #fcdc36;
  color: #41197f;
  display: flex;
  font-family: Pacifico , cursive;
  font-size: 2rem;
  font-weight: 400;
  justify-content: center;
  margin: 0;
  padding: 10px 0 18px;
  text-align: center;
  width: 100dvw;
}
