.not-found-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: 100dvw;
  padding: 0;
}

.ops {
  color: #41197f;
  font-size: 4rem;
  font-weight: 700;
  margin: 10px;
  padding: 0;
}

.message {
  color: #41197f;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 10px;
  text-align: center;
}

.not-found-buttons {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}

.not-found-button {
  background-color: #fcdc36;
  border: none;
  border-radius: 50%;
  box-shadow: 1px 2px 5px #42197fc5;
  font-weight: 700;
  margin: 5px;
  padding: 10px;
}

.not-found-button:hover {
  background-color: #ceb63c;
}
