.search-bar {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 100dvw;
  padding: 10px;
  width: 100dvw;
}

.search-bar button {
  background-color: #41197f;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.555);
  color: #fcdc36;
  font-weight: 700;
  margin-bottom: 5px;
  padding: 5px 100px;
}

.search-bar button:hover {
  background-color: #fcdc36;
  border: none;
  color: #41197f;
}

label {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 4px;
  margin-right: 4px;

}

.search-input {
  border: 1px solid #007bff;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

.radio-inputs {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5px;
}

.radio-input {
  margin-left: 4px;
  margin-right: 4px;
}
