.favorite-recipes-buttons {
  align-items: center;
  display: flex;

  /* flex-direction: row; */
  flex-wrap: row wrap;
  justify-content: center;
  margin: 5px;
  padding: 0;
  width: 100dvw;
}

.filter-btn {
  background-color: #fcdc36;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 2px 5px #41197f;
  color: #41197f;
  font-weight: 700;
  margin: 3px;
  padding: 5px 10px;
}

.filter-btn:hover {
  background-color: #41197f;
  color: #fcdc36;
  font-weight: 700;
}

.favorite-list {
  display: flex;

  /* flex-direction: row; */
  flex-wrap: row wrap;
  justify-content: center;
  margin: 0;
  margin-bottom: 70px;
  max-width: 100dvw;
  overflow-y: scroll;
  padding: 0;
  text-align: center;
  width: 100dvw;
  word-wrap: break-word;
}

.favorite-list-recipe-name {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.favorite-list-recipe-data {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: center;
  word-wrap: break-word;
}

.favorite-data {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: center;
  word-wrap: break-word;
}

.favorite-card-link {
  border-radius: 10px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.555);
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  height: auto;
  justify-content: space-between;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  width: 170px;
}

.favorite-card-link:hover {
  background-color: #a4a6a8;
  color: black;
}

.favorite-card-link h3 {
  align-items: center;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  text-align: center;
  text-wrap: wrap;
}

.favorite-list-img {
  height: 150px;
  width: 150px;
}

.favorite-recipe-share-btn {
  background-color: #fcdc36;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 2px 5px #41197f;
  color: #41197f;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 2px;
  padding: 5px 10px;
}

.favorite-recipe-share-btn:hover {
  background-color: #41197f;
  color: #fcdc36;
  font-weight: 700;
}
