.recipes-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100dvw;
}

.categories-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100dvw;

  /* background-color: rgb(150, 150, 150); */
}

.categories-container h3 {
  color: #41197f;
  font-family: Pacifico , cursive;
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.categories-buttons {
  align-items: center;
  display: flex;

  /* flex-direction: row; */
  flex-wrap: row wrap;
  justify-content: center;
  margin: 5px;
  padding: 0;
  width: 100dvw;
}

.category-button {
  background-color: #fcdc36;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 2px 5px #41197f;
  color: #41197f;
  font-weight: 700;
  margin: 3px;
  padding: 5px 10px;
}

.category-button:hover {
  background-color: #41197f;
  color: #fcdc36;
  font-weight: 700;
}

.recipeList {
  display: flex;

  /* flex-direction: row; */
  flex-wrap: row wrap;
  justify-content: center;
  margin: 0;
  margin-bottom: 70px;
  max-width: 100dvw;
  overflow-y: scroll;
  padding: 0;
  text-align: center;
  width: 100dvw;
}

.recipe-card-link {
  border-radius: 10px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.555);
  color: black;
  height: auto;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  width: 170px;
}

.recipe-card-link:hover {
  background-color: #a4a6a8;
  color: black;
  font-weight: 700;
}

.recipe-card-link h3 {
  align-items: center;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  text-align: center;
  text-wrap: wrap;
}

.recipe-img {
  height: 150px;
  width: 150px;
}
