.in-progress-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  margin-top: 2px;
  padding: 0;
  width: 100dvw;
}

.in-progress-img {
  width: 340px;
}

.fav-share-btn {
  background-color: white;
  border: 2px solid #41197f;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 2px;
  padding: 5px;
}

.fav-share-btn:hover {
  background-color: #fcdc36;
}

.buttons {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
  width: 100dvw;
}

.in-progress-title {
  background-color: #41197f;
  color: #fcdc36;
  font-size: 2.2rem;
  margin-bottom: 0;
  margin-top: 5px;
  text-align: center;
  width: 100dvw;
}

.in-progress-category {
  background-color: #fcdc36;
  color: #41197f;
  font-size: 1.2rem;
  margin-bottom: 0;
  margin-top: 0;
  padding: 2px;
  text-align: center;
  width: 100dvw;
}

.ingredients-header {
  text-align: center;
  width: 100dvw;
}

.in-progress-table {
  margin-bottom: 10px;
  margin-top: 5px;
  width: 90dvw;
}

.in-progress-instructions {
  margin: 10px 20px 50px;
  text-align: center;
  width: 320px;
}

.in-progress-buttons {
  align-items: center;
  border: 1px solid black;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5px;
  width: 100dvw;
}

.finish-recipe-btn {
  background-color: rgb(143, 143, 143);
  border: none;
  bottom: 0;
  color: black;
  cursor: not-allowed;
  font-weight: 700;
  margin: 0;
  padding: 10px;
  position: fixed;
  width: 100dvw;
}

.finish-recipe-btn:enabled {
  background-color: green;
  color: black;
  cursor: pointer;
}

